@font-face {
    font-family: 'Pebble';
    src: url('/fonts/Pebble-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: Pebble, sans-serif, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

body {
    font-size: 17px;
    background-color: #54b6fc;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
a {
    color: mediumblue;
}
h3 {
    color: #ffff7d;
}

#content {
    flex: 1;
    margin-bottom: 0.5rem;
}

#headers {
    max-width: 600px;
}

.header-table {
    margin-top: 20px;
    max-width: 95%;
}

#main-header {
    text-align: center;
    font-size: 74px;
}

#sub-header {
    min-width: max-content;
    text-align: center;
    font-size: 24px;
}

.center-cell {
    text-align: center;
    vertical-align: middle;
}

.center-img {
    max-width: 100%;
    max-height: 100%;
}

#logo {
   max-height: 192px;
}

.header-top-row {
    padding-top: 60px;
}

.merged-cell {
    text-align: left; /* Adjust the alignment as needed */
}

.k {
    color: white;
}

.lab {
    color: #ffff7d;
}
#main {
    margin-top: 2em;
    max-width: 800px;
}

.panel-body {
    color: #555555;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #389cfa;
}

.footer a {
    color: ghostwhite;
}

.breadcrumb {
    background-color: #389cfa;
    padding: 0;
    margin-bottom: 0;
}
